.fondo{
    background-color: #CFDAD8;  
}
.uno{
    font: none;
    margin: 0px;

}

.titulo{
    text-decoration: none;
    margin: 0%;
    padding: 20px;
    color: #0A1505;
    font: oblique bold 400% cursive;
    text-align: center;
}
.empresa{
    text-decoration: none;
    margin: 0%;
    padding: 20px;
    color: #0A1505;
    font: oblique bold 300% cursive;
    text-align: center;

}
.dos{
    margin: 55px;
    font: oblique bold 100% cursive;
}
.breadcrumb{
    background-color: #F17920;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-align: center;
    font: oblique bold 200% cursive;
}
.li{
    color: #0A1505
}
.img{
    width: 80%;
    display:block;
    margin:auto;  
}
.row{
    text-align: center;
}
.img3{
    width: 80%;

}
.img4{
    height: 80%;
}
.img8{
    width: 80%;
    height: 80%;
}
.img10{
    width: 80%;
    height: 80%;
}
.img11{
    width: 80%;
    height: 80%;
}
.img13{
    width: 80%;
    height: 80%;
}
.emplados{
    text-decoration: none;
    margin: 0%;
    padding: 20px;
    color: #0A1505;
    font: oblique bold 300% cursive;
    text-align: center;

}